polkit.addRule(function(action, subject) {
    if (action.id == "org.fedoraproject.config.samba.configure" ||
	action.id == "org.freedesktop.policykit.exec" ||
	action.id == "org.freedesktop.udisks2.filesystem-mount-system" ||
	action.id == "org.gnome.gparted")
    {
	return polkit.Result.YES;
    }
});
